/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.cdk-drop-list-dragging:not(.elements-menu) {
    border: 2px solid lightgray !important;
    background-color: lightgray !important;
    transition: all 0.1s ease-in-out;
}